body, html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
    font-family: "Mont DEMO";
    src: url("../Font/mont/Mont-HeavyDEMO.otf");
}

@font-face {
    font-family: "hind";
    src: url("../Font/hind/hind-regular.otf");
}

@font-face {
    font-family: "hind semibold";
    src: url("../Font/hind/hind-semibold.otf");
}

@font-face {
    font-family: "AvertaStd-Regular";
    src: url("../Font/AvertaStd-Regular/AvertaStd-Regular.ttf");
}

@media only screen and (min-width: 1200px) {
    .con {
        max-width: 1360px !important;
    }
    .context {
        max-width: 700px !important;
    }
}

@media only screen and (max-width: 990px) {
    .ptitle {
        font-size: 2rem !important;
        width: 100% !important;
    }
    .imgPic1 {
        margin-bottom: 10px !important;
    }
    .imgPic2 {
        margin-top: 10px !important;
    }
}

@media only screen and (max-width: 510px) {
    .sideSocial {
        background-color: white !important;
        z-index: 1 !important;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.42);
        -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.42);
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.42);
        border-radius: 10px;
        display: none !important;
    }
    .ptitle {
        font-size: 1.5rem !important;
    }
    .pSubTitle {
        font-size: 1.3rem !important;
        text-align: center !important;
    }
    .conArticle {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .card-deck {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

.sideSocial {
    position: fixed;
    left: 20px;
    top: 30%;
    padding: 5px 5px;
    padding-bottom: 10px;
    z-index: 1;
}

.hr {
    background-color: #00acee;
    width: 58px;
    border: 1px solid #00acee;
}

.pShare {
    font-family: roboto, sans-serif;
    font-size: 2rem;
    color: #212121;
    font-weight: bold !important;
    cursor: pointer;
    margin-top: -10px;
    margin-left: 12px;
    line-height: 100%;
}

.pDate {
    font-family: roboto, sans-serif;
    font-size: 0.8rem;
    color: #757575;
    font-weight: 400 !important;
    cursor: pointer;
    line-height: 0px;
    margin-left: 12px;
    padding-top: 0px;
    margin-top: -5px;
    padding-bottom: 10px;
}

.imgSocial {
    border-radius: 50%;
    border: 1px solid #212121;
    padding: 10px;
    width: 38px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
    display: block;
    cursor: pointer;
    transition: all 0.2s;
}

.imgSocial:hover {
    background-color: #00acee;
    border: 0px;
}

.connavbar {
    background-color: #212121;
}

.nav-link:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.nav-link:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pArticleNav {
    font-family: roboto, sans-serif;
    font-size: 0.9rem;
    color: #212121;
    font-weight: 500 !important;
    cursor: pointer;
}

.pArticleNav span {
    font-family: roboto, sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: gray;
    cursor: pointer;
}

.ptitle {
    font-family: roboto, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #212121;
    text-align: center;
    line-height: 138%;
    width: 55%;
    margin-top: 20px;
}

.pDateMinute {
    font-family: roboto, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #424242;
    text-align: center;
    margin-top: 5px;
}

.pAuthorPosition {
    font-family: roboto, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    color: #424242;
    text-align: center;
    margin-top: 15px;
}

.pSocial {
    font-family: roboto, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #00acee;
    text-align: center;
    margin-top: -10px;
    cursor: pointer;
}

.pSubTitle {
    font-family: roboto, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: #212121;
    line-height: 138%;
}

.pContext {
    font-family: roboto, sans-serif;
    font-size: 1rem;
    color: #757575;
    margin-top: 35px;
}

.pSubTitle1 {
    font-family: roboto, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #212121;
    line-height: 138%;
    margin-top: 48px;
}

.pTwitter {
    font-family: roboto, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
    color: #757575;
    line-height: 138%;
    margin-top: 35px;
    border-left: 3px solid #00acee;
    padding-left: 35px;
}

.pTags {
    font-family: roboto, sans-serif;
    font-size: 0.8rem;
    color: #757575;
    font-weight: 500;
    margin-top: 35px;
}

.pFooterAuthor {
    font-family: roboto, sans-serif;
    font-size: 1rem;
    color: #212121;
    font-weight: bold;
}

.pAuthorDescription {
    font-family: roboto, sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #757575;
    margin-top: -10px;
}

.pRelated {
    font-family: roboto, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: #212121;
}

.card-title {
    font-family: roboto, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #212121;
    margin-top: -5px;
    line-height: 140%;
}

.card-tags {
    font-family: roboto, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    color: #00acee;
}

.card-description {
    font-family: roboto, sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: #424242;
    font-style: italic;
}

.text-muted {
    font-family: roboto, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    color: #212121 !important;
    margin-top: -5px;
    position: absolute;
    bottom: 8px;
}

.footer {
    background-color: #212121;
}

.pfootertitle {
    font-family: hind semibold;
    font-size: 18px;
    color: white;
}

.pfootersub {
    font-family: hind;
    font-size: 13px;
    color: whitesmoke;
    cursor: pointer;
    width: max-content;
    transition: all 0.2s;
}

.pfootersub:hover {
    color: #00acee;
}

.pmore {
    font-family: AvertaStd-Regular;
    color: #263238;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0px;
}

.pshare {
    font-family: AvertaStd-Regular;
    color: #2962FF;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}