body, html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
    font-family: "Mont DEMO";
    src: url("../Font/mont/Mont-HeavyDEMO.otf");
}

@font-face {
    font-family: "hind";
    src: url("../Font/hind/hind-regular.otf");
}

@font-face {
    font-family: "hind semibold";
    src: url("../Font/hind/hind-semibold.otf");
}

@font-face {
    font-family: "AvertaStd-Regular";
    src: url("../Font/AvertaStd-Regular/AvertaStd-Regular.ttf");
}

@media only screen and (min-width: 1200px) {
    .con {
        max-width: 1250px !important;
    }
}

.imgPic {
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.42);
    filter: brightness(80%);
}

.bottom-left {
    text-align: left;
    position: absolute;
    bottom: 8px;
    left: 8%;
}

.pMainTitle {
    font-family: roboto, sans-serif;
    color: white;
    font-size: 2.1rem;
    font-weight: bold;
    margin-top: -15px;
    line-height: 120%;
    margin-bottom: 40px;
}

.pMainTags {
    font-family: roboto, sans-serif;
    color: rgba(255, 255, 2550.8);
    font-size: 0.8rem;
    font-weight: 500;
}

.hrMain {
    background-color: #BDBDBD;
    width: 200px;
    margin: 0 auto;
    float: left;
    margin-bottom: 0px;
}

.pRead {
    font-family: roboto, sans-serif;
    color: rgba(255, 255, 2550.8);
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: -15px;
    float:left;
}

@-webkit-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  60% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
}
@-moz-keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-15px);
  }
  60% {
    transform: translateX(-7px);
  }
}
@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  60% {
    -ms-transform: translateX(-7px);
    transform: translateX(-7px);
  }
}
/* /right bounce */

.fa-arrow-right {
    -webkit-animation: bounceRight 2s infinite;
    animation: bounceRight 2s infinite;
    float: left;
    margin-top: -19px;
    margin-left: 40px;
  }

  .pRightTags {
      font-family: roboto, sans-serif;
      color: #FF5722;
      font-size: 0.8rem;
      font-weight: 500;
  }

  .pRightTitle {
    font-family: roboto, sans-serif;
    color: #616161;
    font-size: 0.9rem;
    margin-top: -10px;
    text-align: justify;
  }

  .pArticles {
      font-family: roboto, sans-serif;
      color: #616161;
      font-size: 1rem;
      font-weight: 500;
  }

  .card-title {
      font-family: roboto, sans-serif;
      color: #263238;
      font-size: 1.2rem;
      font-weight: bold;
  }

  .card-text {
      font-family: roboto, sans-serif;
      color: #616161;
      font-size: 0.9rem;
      font-weight: 500;
  }