body, html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
    font-family: "Mont DEMO";
    src: url("../Font/mont/Mont-HeavyDEMO.otf");
}

@font-face {
    font-family: "hind";
    src: url("../Font/hind/hind-regular.otf");
}

@font-face {
    font-family: "hind semibold";
    src: url("../Font/hind/hind-semibold.otf");
}

@font-face {
    font-family: "AvertaStd-Regular";
    src: url("../Font/AvertaStd-Regular/AvertaStd-Regular.ttf");
}

@media only screen and (min-width: 1200px) {
    .con {
        max-width: 1360px !important;
    }
    .context {
        max-width: 800px;
    }
}

@media only screen and (max-width: 510px) {
    .pTitle {
        font-size: 1.5rem !important;
    }
    .pTitleSub {
        font-size: 0.9rem !important;
    }
    .divAuthor {
        margin-top: 10px !important;
    }
    .imgPic {
        margin-top: 30px !important;
    }
    .context {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .pContext {
        width: 100% !important;
    }
    .spanArrow {
        float: none !important;
        float: left !important;
    }
    .rowAuthor {
        align-items: center !important;
        padding: 0px !important;
    }
    .colAuthor {
        text-align: center;
        margin: 0px !important;
    }
    .imgAuthor {
        margin-top: 10px !important;
    }
    .conAuthor {
        padding: 0px !important;
        padding-top: 1px !important;
        margin: 0px !important;
    }
    .pAuthorFooter {
        width: 100% !important;
        text-align: center !important;
    }
    .pAuthorFooterDesc {
        padding: 10px !important;
    }
    .colMoreStories {
        padding: 0px !important;
    }
}

.connavbar {
    background-color: #212121;
}

.nav-link:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.nav-link:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pdate {
    font-family: roboto, sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: gray;
    cursor: pointer;
}

.pTitle {
    font-family: roboto, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #212121;
    line-height: 125%;
    margin-top: 20px;
}

.pTitleSub {
    font-family: roboto, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: gray;
    cursor: pointer;
}

.pAuthor {
    font-family: roboto, sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: gray;
    cursor: pointer;
    margin-left: 10px;
}

.pContext {
    font-family: roboto, sans-serif;
    font-size: 1rem;
    color: #616161;
    margin-top: 35px;
    font-weight: 500;
}

.subhead:first-child:first-letter {
    float: left;
    color: #00acee;
    font-family: hind;
    font-size: 80px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.pSubTitle {
    font-family: roboto, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: #212121;
    line-height: 138%;
}

.pImageDescription {
    font-family: roboto, sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    color: gray;
    margin-top: 15px;
}

.arrowLeft, .arrowRight {
    font-size: 1.7rem;
    color: gray;
    cursor: pointer;
    transition: all 0.2s;
}

.arrowLeft:hover, .arrowRight:hover {
    color: #212121;
}

.imgSocial {
    margin-right: 0px;
    border-radius: 50%;
    border: 1px solid lightgray;
    padding: 10px;
    width: 38px;
    margin-left: 10px;
    margin-top: 10px;
    display: block;
    cursor: pointer;
    transition: all 0.2s;
}

.pMore {
    font-family: roboto, sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 70px;
}

.conStories {
    background-color: #202124;
}

.spanLeft {
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.2s;
}

.spanLeft:hover {
    color: #00acee;
}

.pMoreTitle {
    font-family: roboto, sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.pMoreTitleSub {
    font-family: roboto, sans-serif;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: all 0.2s;
    margin-top: -5px;
}

.pMoreAuthor {
    font-family: roboto, sans-serif;
    font-size: 0.9rem;
    color: #616161;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 5px;
    font-style: italic;
}

.footer {
    background-color: #202124;
}

.pfootertitle {
    font-family: roboto, sans-serif;
    font-size: 18px;
    color: white;
}

.pfootersub {
    font-family: roboto, sans-serif;
    font-size: 13px;
    color: whitesmoke;
    cursor: pointer;
    width: max-content;
    transition: all 0.2s;
}

.pfootersub:hover {
    color: #00acee;
}

.pmore {
    font-family: roboto, sans-serif;
    color: #263238;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0px;
}

.pshare {
    font-family: AvertaStd-Regular;
    color: #2962FF;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}

.lblTag {
    font-family: roboto, sans-serif;
    font-size: 1rem;
    color: #616161;
    cursor: pointer;
    width: max-content;
    transition: all 0.2s;
    border: 1px solid #BDBDBD;
    margin: 5px;
    padding: 15px;
}

.lblTag:hover {
    color: white;
    background-color: #212121;
}

.pAuthorFooter {
    font-family: roboto, sans-serif;
    color: #212121;
    font-size: 1rem;
    font-weight: 500;
}

.pAuthorFooterDesc {
    font-family: roboto, sans-serif;
    color: gray;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: -10px;
}