@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: "Mont DEMO";
  src: url("../Font/mont/Mont-HeavyDEMO.otf");
}

@font-face {
  font-family: "hind";
  src: url("../Font/hind/hind-regular.otf");
}

@font-face {
  font-family: "hind semibold";
  src: url("../Font/hind/hind-semibold.otf");
}

@font-face {
  font-family: "AvertaStd-Regular";
  src: url("../Font/AvertaStd-Regular/AvertaStd-Regular.ttf");
}

* { 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 1200px) {
  .con {
    max-width: 1280px !important;
  }
}

@media only screen and (max-width: 990px) {
  .pmainevent {
    font-size: 28px !important;
  }
  .peventtitle {
    font-size: 18px !important;
  }
  .colart1 {
    padding: 0 15px;
  }
  .pfooter {
    font-size: 30px !important;
    margin-top: 20px !important;
  }
  .psoltext {
    display: none !important;
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 648px) {
  .anchors {
    display: none;
  }
  .button_container span {
    display: block !important;
  }
  .divrights {
    display: none !important;
  }
  .divlogofooter {
    right: 0px !important;
    left: 25px !important;
  }
  .divlogo {
    left: 25px !important;
  }
  .button_container {
    right: 25px !important;
    top: 38px !important;
  }
  #p1 {
    font-size: 15px !important;
  }
  #p2 {
    font-size: 30px !important;
  }
  .particletitle1 {
    font-size: 30px !important;
  }
  .colarticle2 {
    display: none !important;
    visibility: hidden !important;
  }
  .colarticle3 {
    display: none !important;
    visibility: hidden !important;
  }
  nav {
    right: 10px !important;
    bottom: 20px !important;
  }
  .pfooter {
    font-size: 25px !important;
    margin-top: 30px !important;
    line-height: 140% !important;
    margin-left: 10px;
  }
  .pquestionsfooter {
    margin-top: 0px !important;
    margin-left: 10px !important;
  }
  .col2footer {
    margin-top: 0px !important;
    top: 10%;
    margin-left: 10px;
  }
  .con {
    padding: 100px 15px;
  }
  .psolutions {
    font-size: 20px !important;
  }
  .peventlocation {
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  .btnexploremore {
    display: none;
  }
  .col2footer {
    top: 0% !important;
  }
  .psoltext {
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
  .psolutions {
    font-size: 20px !important;
  }
  .pSolutions {
    font-size: 1.5rem !important;
    margin-top: 10px !important;
  }
  .pSolutionsDesc {
    width: 100% !important;
  }
  .imgSolution1, .imgSolution2, .imgSolution3 {
    display: none !important;
  }
  .btnexplore {
    display: none !important;
  }
  .cardSolution1, .cardSolution2, .cardSolution3 {
    padding: 0px !important;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #262626;
  animation: animate1 4s infinite forwards ease-in-out;
}

.span:nth-child(1) {
  background: #00485f;
  left: -24px;
  top: -24px;
  animation-delay: 0.5s;
}

.span:nth-child(2) {
  background: #00deea;
  left: 0px;
  top: -24px;
  animation-delay: 1s;
}

.span:nth-child(4) {
  background: #00485f;
  left: -24px;
  top: 0px;
  animation-delay: 1.5s;
}

.span:nth-child(3) {
  background: #00deea;
  left: 0px;
  top: 0px;
  animation-delay: 2s;
}

@keyframes animate1 {
  0% {
    transform: rotateY(0deg);
  }
  20% {
    transform: rotateY(360deg);
  }
  40% {
    transform: rotateX(180deg);
  }
  60% {
    transform: rotateX(0deg);
  }
  80% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.delay {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

body, html {
  font-family: "Roboto Mono";
  overflow: hidden !important;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: px;
  width: 35px;
  cursor: pointer;
  z-index: 10000;
  transition: opacity .25s ease;
}

.button_container:hover {
  opacity: .7;
}

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}

.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button_container span {
  background: white;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
  display: none;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.divlogo {
  position: fixed;
  top: 25px;
  left: 50px;
  z-index: 100;
}

.divlogofooter {
  position: fixed;
  right: 50px;
  bottom: 25px;
  z-index: 100;
}

.divrights {
  font-family: roboto;
  color: white;
  font-weight: 500;
  position: fixed;
  left: 50px;
  bottom: 15px;
  z-index: 100;
}

.anchors {
  position: fixed;
  top: 40px;
  right: 50px;
  z-index: 100;
  width: max-content;
}

.anchors ul li {
  list-style: none;
  padding-right: 20px !important;
}

.anchors ul li a {
  font-family: roboto;
  font-weight: bold;
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
  position: relative;
  margin-left: 20px;
  width: max-content;
  text-align: center !important;
}

.overlay {
  position: fixed;
  background: #1E88E5;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 1000;
}

.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
  animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
  animation-delay: .50s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  font-family: roboto, sans-serif;
  color: #fff;
  display: block;
  position: relative;
  font-weight: 500;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.navibar {
  font-family: Roboto;
}

.navibar::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: #ffffff .2s;
  text-align: center;
}

.navibar:hover::after {
  width: 100%;
  transition: width .2s;
}

.icon-scroll, .icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 25px;
  height: 40px;
  margin-left: -20px;
  bottom: 10px;
  margin-top: -35px;
  border: 2px solid #fff;
  border-radius: 25px;
}

@media (max-width: 767px) {
  .icon-scroll {
    position: relative;
  }
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(26px);
    transform: translateY(26px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(26px);
    transform: translateY(26px);
  }
}

#page-1 {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../Image/header_image.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s;
}

.outer-div {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.inner-div {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(../Image/bg2.jpg);
  cursor: pointer;
}

.inner-div:hover * {
  cursor: pointer;
}

.inner-div1:hover * {
  cursor: pointer;
}

.inner-div2:hover * {
  cursor: pointer;
}

.inner-div:hover {
  transform: scale(1.1);
  background-size: cover;
  background-position: center;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Image/bg2.jpg);
}

.inner-div:hover .colart1>.particletitle1 {
  color: #1976D2;
}

.inner-div1:hover .colart2>.particletitle1 {
  color: #1976D2;
}

.inner-div2:hover .colart3>.particletitle1 {
  color: #1976D2;
}

.outer-div1 {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.inner-div1 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(../Image/article1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-div1:hover {
  transform: scale(1.1);
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Image/article1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.outer-div2 {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.inner-div2 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(../Image/article3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-div2:hover {
  transform: scale(1.1);
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Image/article3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-2 {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../Image/event.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-3 {
  background-color: #424242;
}

.pdate {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0;
}

.particletitle1 {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  padding: 0px 5px;
  width: 85%;
}

.particlecontent1 {
  font-family: roboto, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  width: 70%;
}

#page-4 {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Image/footer.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s;
}

#page-5 {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Image/solution.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s;
}

.pSolutions {
  font-family: AvertaStd-Regular;
  color: white;
  font-size: 67px;
  font-weight: bold;
  line-height: 115%;
}

.pSolutionsDesc {
  font-family: AvertaStd-Regular;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  line-height: 125%;
  width: 50%;
}

.card-title-solutions {
  font-family: AvertaStd-Regular;
  color: #212121;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 115%;
}

.card-text-solutions {
  font-family: AvertaStd-Regular;
  color: #757575 !important;
  font-size: 1rem;
  line-height: 115%;
}

.card-text>.text-muted {
  font-family: AvertaStd-Regular;
  color: #212121 !important;
  font-size: 0.9rem;
  line-height: 115%;
}

.pSolutionsTitle {
  font-family: AvertaStd-Regular;
  color: #212121;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 115%;
}

.pSolutionsTitleDesc {
  font-family: AvertaStd-Regular;
  color: #212121;
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%;
}

.link {
  font-family: AvertaStd-Regular;
  color: #212121;
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%
}

nav {
  height: 100vh;
  position: fixed;
  top: 45%;
  z-index: 100;
  right: 20px;
  display: flex;
}

nav ul li a span {
  background: #fff;
}

nav li {
  display: block;
  width: 10px;
  height: 10px;
  margin: 16px;
  position: relative;
}

nav span:after {
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

nav li .active span {
  background: #fff;
  position: absolute;
}

nav li .active span:after {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

nav ul li a.active span, nav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

nav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

.pg-horizontal nav {
  width: 100vw;
  left: 0;
  bottom: 20px;
}

.pg-horizontal nav ul li {
  float: left;
}

.horizontal {
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  height: 20px;
  margin-right: 20px;
}

.pwelcome {
  font-family: hind;
  font-size: 1.1rem;
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
  margin-top: 20px;
}

.pwelcomesub {
  font-size: 3rem;
  font-family: Mont DEMO;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s;
  margin-top: -10px;
}

.popover-body {
  font-family: Roboto;
  color: #212121;
  font-size: 1rem;
  font-weight: 500;
}

.progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}

.btn-5, .btn-5::after {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.btn-5 {
  font-family: roboto, sans-serif;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  background: none;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 1em auto;
  padding: 10px 10px;
  width: 200px;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
}

.btn-5::before, .btn-5::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn-5:hover {
  color: #3F51B5;
  font-weight: 500;
}

/* BUTTON 5 */

.btn-5 {
  overflow: hidden;
}

.btn-5::after {
  /*background-color: #f00;*/
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.4s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 135%;
}

.hide {
  opacity: 0 !important;
}

.particles {
  font-family: Mont Demo;
  font-weight: bold;
  color: #323640;
  font-size: 25px;
}

.particleviewmore {
  font-family: Mont Demo;
  font-weight: bold;
  color: #424242;
  font-size: 15px;
  float: right;
  margin-top: 5px;
  cursor: pointer;
}

.particleviewmore:hover {
  transition: 0.2s;
  color: #212121;
}

.img-article:hover {
  cursor: pointer;
  transition: 0.2s;
  filter: brightness(50%);
}

.particletitle {
  font-family: hind Semibold;
  font-size: 16px;
  color: #323640;
}

.particledes {
  font-family: hind;
  font-size: 12px;
  color: #323640;
  overflow: hidden;
  position: relative;
  line-height: 1.3em;
  max-height: 6.1em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  margin-top: -10px;
}

.card-title {
  font-family: hind semibold;
  font-size: 17px;
  color: #323640;
}

.card-text {
  font-family: hind;
  font-size: 14px;
  color: #323640;
}

/* Announcement */

.card-place {
  font-family: hind;
  font-size: 14px;
  color: #323640;
  padding: 0px !important;
}

.lbldate {
  font-family: hind;
  font-weight: 500;
  font-size: 14px;
  color: #ff1744;
}

.card-date {
  font-family: hind semibold;
  font-size: 20px;
  color: #ff1744;
  margin-top: 2px;
  padding: 0px !important;
}

.card-date-num {
  font-family: hind semibold;
  font-size: 40px;
  color: #323640;
  line-height: 1;
  padding: 0px !important;
}

.modal-title {
  font-family: Coolvetica, roboto, sans-serif !important;
  color: #263238 !important;
  font-size: 18px !important;
}

.penter {
  font-family: Signika;
  color: #212121;
  font-size: 1.8rem;
  font-weight: bold;
}

.pnews {
  font-family: roboto, sans-serif;
  color: rgba(38, 50, 56, 0.6);
  font-size: 16px;
  font-weight: 500;
  margin-top: -15px;
}

.btnenter {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 14px 10px;
  width: 100%;
  border: 0px;
  border-radius: 4px;
  background-color: #0f4c81;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.2s;
}

.txtnews {
  font-family: roboto, sans-serif;
  color: #263238;
  font-size: 1rem;
  font-weight: 500;
  padding: 7px 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.pquestions {
  font-family: roboto, sans-serif;
  color: rgba(38, 50, 56, 0.6);
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.pfooter {
  font-family: AvertaStd-Regular;
  color: white;
  font-size: 67px;
  font-weight: bold;
  line-height: 115%;
}

.pquestionsfooter {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 40px;
}

.ptitlefooter {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.ptitlefootersub {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 10px;
  line-height: 170%;
}

.psolutions {
  font-family: AvertaStd-Regular;
  color: white;
  font-size: 4rem;
  font-weight: 800;
}

.psolutionssub {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 1rem;
  margin-top: -10px;
}

.container-img {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}

.img-solutions {
  filter: brightness(50%);
  cursor: pointer !important;
  transition: all 0.2s ease;
}

.img-solutions:hover {
  filter: brightness(70%) !important;
}

.card-title {
  font-family: AvertaStd-Regular;
  color: white;
  font-size: 1.1rem;
  font-weight: 800;
}

.card-text {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 0.9rem;
  font-weight: 300 !important;
}

.box {
  background-color: white !important;
  ;
  border: 1px solid white;
  width: 70px;
  padding: 10px 5px;
}

.pmonth, .pyear {
  font-family: roboto, sans-serif;
  color: #1976D2;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 120%;
  margin-bottom: 0px;
}

.colEvent1, .colEvent2, .colEvent3 {
  cursor: pointer;
  transition: all 0.2s;
}

.colEvent1:hover>.peventtitle, .colEvent2:hover, .colEvent3:hover {
  color: #1976D2;
}

.peventtitle {
  font-family: AvertaStd-Regular;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-top: -8px;
  line-height: 120%;
}

.peventlocation {
  font-family: roboto, sans-serif;
  color: #fafafa;
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: -15px;
}

.pmaintitle {
  font-family: roboto, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  margin-left: -15px;
}

.pmainevent {
  font-family: AvertaStd-Regular;
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 120%;
  margin-top: -10px;
}

.peventtime {
  font-family: roboto, sans-serif;
  color: #212121;
  font-size: 0.9rem;
  font-weight: 800;
  margin-top: -5px;
  border-radius: 2px;
  background-color: white;
  padding: 8px 10px;
  width: max-content;
}

.peventmainlocation {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 0.9rem;
  margin-top: -5px;
}

ul li {
  list-style-type: none;
  padding: 0px;
}

.the-arrow {
  width: 1px;
  transition: all 0.2s;
}

.the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}

.the-arrow.-left>.shaft {
  width: 0;
  background-color: #fff;
}

.the-arrow.-left>.shaft:before, .the-arrow.-left>.shaft:after {
  width: 0;
  background-color: #fff;
}

.the-arrow.-left>.shaft:before {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.the-arrow.-left>.shaft:after {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.the-arrow.-right {
  top: 1px;
}

.the-arrow.-right>.shaft {
  width: 1px;
  transition-delay: 0.2s;
}

.the-arrow.-right>.shaft:before, .the-arrow.-right>.shaft:after {
  width: 8px;
  transition-delay: 0.3s;
  transition: all 0.5s;
}

.the-arrow.-right>.shaft:before {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.the-arrow.-right>.shaft:after {
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.the-arrow>.shaft {
  background-color: #fff;
  display: block;
  height: 1px;
  position: relative;
  transition: all 0.2s;
  transition-delay: 0;
  will-change: transform;
}

.the-arrow>.shaft:before, .the-arrow>.shaft:after {
  background-color: #fff;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.2s;
  transition-delay: 0;
}

.the-arrow>.shaft:before {
  -webkit-transform-origin: top right;
  transform-origin: top right;
}

.the-arrow>.shaft:after {
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}

.animated-arrow {
  font-family: roboto, sans-serif;
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}

.animated-arrow:hover {
  color: #fff;
}

.animated-arrow:hover>.the-arrow.-left>.shaft {
  width: 64px;
  transition-delay: 0.1s;
  background-color: #fff;
}

.animated-arrow:hover>.the-arrow.-left>.shaft:before, .animated-arrow:hover>.the-arrow.-left>.shaft:after {
  width: 8px;
  transition-delay: 0.1s;
  background-color: #fff;
}

.animated-arrow:hover>.the-arrow.-left>.shaft:before {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.animated-arrow:hover>.the-arrow.-left>.shaft:after {
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.animated-arrow:hover>.main {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
  -webkit-transform: translateX(80px);
  transform: translateX(80px);
}

.animated-arrow:hover>.main>.the-arrow.-right>.shaft {
  width: 0;
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
  transition-delay: 0;
}

.animated-arrow:hover>.main>.the-arrow.-right>.shaft:before, .animated-arrow:hover>.main>.the-arrow.-right>.shaft:after {
  width: 0;
  transition-delay: 0;
  transition: all 0.1s;
}

.animated-arrow:hover>.main>.the-arrow.-right>.shaft:before {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.animated-arrow:hover>.main>.the-arrow.-right>.shaft:after {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.animated-arrow>.main {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.animated-arrow>.main>.text {
  margin: 0 16px 0 0;
  line-height: 1;
}

.animated-arrow>.main>.the-arrow {
  position: relative;
}

.inner-div1-1, .inner-div1-2, .inner-div1-3 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background: #0f4c81;
}

.btnexplore {
  font-family: AvertaStd-Regular;
  color: white;
  background-color: rgba(15,76,129, 0.9);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 120%;
  border-radius: 20px;
  border: 0px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.inner-div-1 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(../Image/bg2.jpg);
  cursor: pointer;
}

.inner-div-1:hover {
  transform: scale(1.1);
  background-size: cover;
  background-position: center;
  background: #0f4c81;
}

.cardSolution1, .cardSolution2, .cardSolution3 {
  cursor: pointer;
  transition: all 0.2s;
}

.cardSolution1:hover * , .cardSolution2:hover * , .cardSolution3:hover * {
  color: white !important;
}

.cardSolution1:hover , .cardSolution2:hover , .cardSolution3:hover   {
  background-color: #0f4c81;
}

