@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,700");
@media only screen and (min-width: 1200px) {
  .con {
    max-width: 1280px !important;
  }
}

@media only screen and (max-width: 648px) {
  .anchors {
    display: none;
  }
  .button_container span {
    display: block !important;
  }
  .divrights {
    display: none !important;
  }
  .divlogofooter {
    right: 0px !important;
    left: 25px !important;
  }
  .divlogo {
    left: 25px !important;
  }
  .button_container {
    right: 25px !important;
    top: 38px !important;
  }
  #p1 {
    font-size: 15px !important;
  }
  #p2 {
    font-size: 30px !important;
  }
  .particletitle1 {
    font-size: 30px !important;
  }
  .colarticle2 {
    display: none !important;
    visibility: hidden !important;
  }
  .colarticle3 {
    display: none !important;
    visibility: hidden !important;
  }
  nav {
    right: 10px !important;
    bottom: 20px !important;
  }
  .pfooter {
    font-size: 25px !important;
    margin-top: 30px !important;
    line-height: 140% !important;
    margin-left: 10px;
  }
  .pquestionsfooter {
    margin-top: 0px !important;
    margin-left: 10px !important;
  }
  .col2footer {
    margin-top: 0px !important;
    top: 10%;
    margin-left: 10px;
  }
  .con {
    padding: 100px 15px;
  }
  .psolutions {
    font-size: 20px !important;
  }
}

.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.span
{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #262626;
    animation: animate1 4s infinite forwards ease-in-out;
}

.span:nth-child(1)
{
    background: #00485f;
    left: -24px;
    top: -24px;
    animation-delay: 0.5s;
}
.span:nth-child(2)
{
    background: #00deea;
    left: 0px;
    top: -24px;
    animation-delay: 1s;
}
.span:nth-child(4)
{
    background: #00485f;
    left: -24px;
    top: 0px;
    animation-delay: 1.5s;
}
.span:nth-child(3)
{
    background: #00deea;
    left: 0px;
    top: 0px;
    animation-delay: 2s;
}


@keyframes animate1
{
    
    0%
    {
        transform: rotateY(0deg);    
    }
    20%
    {
        transform: rotateY(360deg);
    }
    40%
    {
        transform: rotateX(180deg);
    }
    60%
    {
        transform: rotateX(0deg);
    }
    80%
    {
        transform: rotateX(360deg);
    }
    100%
    {
        transform: rotateY(180deg);
    }
}


.delay {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

body, html {
  font-family: "Roboto Mono";
  overflow: hidden !important;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: px;
  width: 35px;
  cursor: pointer;
  z-index: 10000;
  transition: opacity .25s ease;
}

.button_container:hover {
  opacity: .7;
}

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}

.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}

.button_container span {
  background: white;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
  display: none;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.divlogo {
  position: fixed;
  top: 25px;
  left: 50px;
  z-index: 100;
}

.divlogofooter {
  position: fixed;
  right: 50px;
  bottom: 25px;
  z-index: 100;
}

.divrights {
  font-family: roboto;
  color: white;
  font-weight: 500;
  position: fixed;
  left: 50px;
  bottom: 15px;
  z-index: 100;
}

.anchors {
  position: fixed;
  top: 40px;
  right: 50px;
  z-index: 100;
  text-align: center;
}

.anchors ul {
  margin: 0;
  padding: 0;
  text-align: center !important;
}

.anchors ul li {
  float: left;
  list-style: none;
  text-align: center !important;
}

.anchors ul li a {
  font-family: roboto;
  font-weight: bold;
  padding: 12px;
  font-size: 0.9rem;
  color: #fff;
  text-decoration: none;
  position: relative;
  width: max-content;
  margin-left: 20px;
  text-align: center !important;
}

.anchors ul li a.active::after {
  position: absolute;
  bottom: 0px;
  left: 10%;
  width: 80%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  content: "";
}

.overlay {
  position: fixed;
  background: #1E88E5;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 1000;
}

.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
  animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
  animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
  animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
  animation-delay: .50s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  font-family: roboto, sans-serif;
  color: #fff;
  display: block;
  position: relative;
  font-weight: 500;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.navibar::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: #ffffff .3s;
}

.navibar:hover::after {
  width: 100%;
  transition: width .3s;
}

.icon-scroll, .icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 25px;
  height: 40px;
  margin-left: -20px;
  bottom: 10px;
  margin-top: -35px;
  border: 2px solid #fff;
  border-radius: 25px;
}

@media (max-width: 767px) {
  .icon-scroll {
    position: relative;
  }
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(26px);
    transform: translateY(26px);
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(26px);
    transform: translateY(26px);
  }
}

#page-1 {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(../Image/bg2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s;
}

.outer-div {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.inner-div {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(../Image/bg2.jpg);
}

.inner-div:hover {
  transform: scale(1.1);
  background-size: cover;
  background-position: center;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Image/bg2.jpg);
}

.outer-div1 {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.inner-div1 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(../Image/article1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-div1:hover {
  transform: scale(1.1);
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Image/article1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.outer-div2 {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.inner-div2 {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(../Image/article3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-div2:hover {
  transform: scale(1.1);
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Image/article3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-2 {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../Image/bg3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#page-3 {
  background-color: #424242;
}

.colarticle1 {}

.colarticle2 {}

.colarticle3 {}

.pdate {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0;
}

.particletitle1 {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  padding: 0px 5px;
  width: 85%;
}

.particlecontent1 {
  font-family: roboto, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  width: 70%;
}

#page-4 {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Image/footer.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s;
}

#page-5 {
  background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../Image/solution.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.2s;
}

#page-6 {
  background-color: #4CAF50;
}

nav {
  height: 100vh;
  position: fixed;
  top: 45%;
  z-index: 100;
  right: 20px;
  display: flex;
}

nav ul li a span {
  background: #fff;
}

nav li {
  display: block;
  width: 10px;
  height: 10px;
  margin: 16px;
  position: relative;
}

nav span:after {
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

nav li .active span {
  background: #fff;
  position: absolute;
}

nav li .active span:after {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

nav ul li a.active span, nav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

nav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

.pg-horizontal nav {
  width: 100vw;
  left: 0;
  bottom: 20px;
}

.pg-horizontal nav ul li {
  float: left;
}

.horizontal {
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  height: 20px;
  margin-right: 20px;
}

.pwelcome {
  font-family: hind;
  font-size: 1.1rem;
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
  margin-top: 20px;
}

.pwelcomesub {
  font-size: 2.8rem;
  font-family: Mont DEMO;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s;
  margin-top: -10px;
}

.popover-body {
  font-family: Roboto;
  color: #212121;
  font-size: 1rem;
  font-weight: 500;
}

.progress-bar {
  -webkit-transition: none !important;
  transition: none !important;
}

.hide {
  opacity: 0 !important;
}

.particles {
  font-family: Mont Demo;
  font-weight: bold;
  color: #323640;
  font-size: 25px;
}

.particleviewmore {
  font-family: Mont Demo;
  font-weight: bold;
  color: #424242;
  font-size: 15px;
  float: right;
  margin-top: 5px;
  cursor: pointer;
}

.particleviewmore:hover {
  transition: 0.2s;
  color: #212121;
}

.img-article:hover {
  cursor: pointer;
  transition: 0.2s;
  filter: brightness(50%);
}

.particletitle {
  font-family: hind Semibold;
  font-size: 16px;
  color: #323640;
}

.particledes {
  font-family: hind;
  font-size: 12px;
  color: #323640;
  overflow: hidden;
  position: relative;
  line-height: 1.3em;
  max-height: 6.1em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  margin-top: -10px;
}

.card-title {
  font-family: hind semibold;
  font-size: 17px;
  color: #323640;
}

.card-text {
  font-family: hind;
  font-size: 14px;
  color: #323640;
}

/* Announcement */

.card-place {
  font-family: hind;
  font-size: 14px;
  color: #323640;
  padding: 0px !important;
}

.lbldate {
  font-family: hind;
  font-weight: 500;
  font-size: 14px;
  color: #ff1744;
}

.card-date {
  font-family: hind semibold;
  font-size: 20px;
  color: #ff1744;
  margin-top: 2px;
  padding: 0px !important;
}

.card-date-num {
  font-family: hind semibold;
  font-size: 40px;
  color: #323640;
  line-height: 1;
  padding: 0px !important;
}

.modal-title {
  font-family: Coolvetica, roboto, sans-serif !important;
  color: #263238 !important;
  font-size: 18px !important;
}

.penter {
  font-family: Signika;
  color: #212121;
  font-size: 1.8rem;
  font-weight: bold;
}

.pnews {
  font-family: roboto, sans-serif;
  color: rgba(38, 50, 56, 0.6);
  font-size: 16px;
  font-weight: 500;
  margin-top: -15px;
}

.btnenter {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 14px 10px;
  width: 100%;
  border: 0px;
  border-radius: 4px;
  background-color: #3F51B5;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.2s;
}

.txtnews {
  font-family: roboto, sans-serif;
  color: #263238;
  font-size: 1rem;
  font-weight: 500;
  padding: 7px 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.pquestions {
  font-family: roboto, sans-serif;
  color: rgba(38, 50, 56, 0.6);
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.pfooter {
  font-family: AvertaStd-Regular;
  color: white;
  font-size: 67px;
  font-weight: bold;
  line-height: 115%;
}

.pquestionsfooter {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 40px;
}

.ptitlefooter {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.ptitlefootersub {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 10px;
  line-height: 170%;
}

.psolutions {
  font-family: AvertaStd-Regular;
  color: white;
  font-size: 4rem;
  font-weight: 800;
}

.psolutionssub {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 1rem;
  margin-top: -10px;
}

.container-img {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}

.img-solutions {
  filter: brightness(50%);
  cursor: pointer !important;
  transition: all 0.2s ease;
}

.img-solutions:hover {
  filter: brightness(70%) !important;
}

.card-title {
  font-family: AvertaStd-Regular;
  color: white;
  font-size: 1.1rem;
  font-weight: 800;
}

.card-text {
  font-family: roboto, sans-serif;
  color: white;
  font-size: 0.9rem;
  font-weight: 300 !important;
}