body, html {
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 1200px) {
    .con {
        max-width: 1250px !important;
    }
    .conCard {
        max-width: 1000px !important;
    }
}

@media only screen and (max-width: 500px) {
    .box {
        margin-top: 400px !important;
    }
    .imgHide {
        display: block !important;
    }
    .img1 {
        background: none !important;
    }
    .pSub, .pBorder {
        width: 100% !important;
    }
    .box {
        width: 100% !important;
    }
}

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
    font-family: "Mont DEMO";
    src: url("../Font/mont/Mont-HeavyDEMO.otf");
}

@font-face {
    font-family: "hind";
    src: url("../Font/hind/hind-regular.otf");
}

@font-face {
    font-family: "hind semibold";
    src: url("../Font/hind/hind-semibold.otf");
}

@font-face {
    font-family: "AvertaStd-Regular";
    src: url("../Font/AvertaStd-Regular/AvertaStd-Regular.ttf");
}

.conbody {
    max-width: 930px !important;
}

.connavbar {
    transition: all 0.2s;
}

.navbar {
    width: 1200px !important;
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    color: #212121;
}

.nav-link:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.nav-link:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.conBg {
    height: 400px;
    background: linear-gradient( rgba(21, 21, 21, 0.4), rgba(21, 21, 21, 0.4)), url(../Image/about.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    box-shadow: -6px 0 white, 6px 0 white, 0 7px 10px -10px lightgray;
    z-index: -99999 !important;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
}

.pTitle {
    font-family: Heebo;
    color: white;
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 4px;
    width: 700px;
}

.ptitlesub {
    font-family: roboto, sans-serif;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 12px;
    letter-spacing: 0.1rem;
}

.input-container {
    display: flex;
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: space-between;
    margin-left: 12px;
    padding: 5px;
}

.pWhat {
    font-family: Poppins;
    color: #9E9E9E;
    font-weight: 400;
}

.pWe {
    font-family: Roboto;
    color: #0e3551;
    font-size: 2rem;
    margin-bottom: 0px;
    font-weight: 700;
    width: 750px;
    margin-top: -10px;
    line-height: 115%;
}

.card {
    border: 0px;
}

.card-title {
    font-family: Poppins;
    color: #0e3551;
    font-weight: 400;
    font-size: 1rem;
}

.pNumber {
    font-family: Abril Fatface;
    color: #e3eefc;
    font-size: 11rem;
    position: absolute;
    top: -160px;
    right: 25px;
    z-index: -9;
}

.divSide {
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.pTitleSide {
    font-family: Roboto;
    color: #003a78;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.2em;
    width: 300px;
}

.pTitleSideSub {
    font-family: Poppins;
    color: #212121;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 0px;
}

.pSolutionsTitle {
    font-family: Poppins;
    color: #003a78;
    font-weight: 500;
}

.pSolutionsDesc {
    font-family: Poppins;
    color: #212121;
}

.footer {
    padding-top: 70px;
    background-color: #212121;
}

.pfootertitle {
    font-family: hind semibold;
    font-size: 18px;
    color: white;
}

.pfootersub {
    font-family: hind;
    font-size: 13px;
    color: whitesmoke;
    cursor: pointer;
    width: max-content;
    transition: all 0.2s;
}

.pfootersub:hover {
    color: #00acee;
}

.pmore {
    font-family: AvertaStd-Regular;
    color: #263238;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 0px;
}

.pshare {
    font-family: AvertaStd-Regular;
    color: #2962FF;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}
